Slides_Build.html
reveal.js
markdown_compiled_NOT_FOR_EDITING.mkd
images/phd_comics_version_control_101212s.gif
Git_Example_from_Scratch
Copy_to_Website.sh
README_FOR_VIEWING_PRESENTATION.txt
Slides_Build_Self-Contained.html
Time-Travel-for-Academics-2015-05-18.zip
Time-Travel-for-Academics_2015-05-18.pdf
.~lock*
figure/
.Rhistory
